@font-face {
  font-family: "PoiretOne";
  src:
    local("PoiretOne"),
    url("../assets/PoiretOne-Regular.ttf"),
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#444;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  font-family: 'PoiretOne';
  font-size:30px;
  font-weight: bold;
  margin-top: -6px;
  margin-bottom: 10px;
}

#canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#canvasWrapper {
  width: 100%;
  height: 100%;
}

#shotButton {
  position: absolute;
  bottom: 100px;
  width: 100%;
  z-index:9999;
  height: 100px;
  width: 100px;
  left:calc(50% - 50px);
  border-radius: 52px;
  border: 2px solid #FFF;
  display:block;
  color:#FFF;
  text-decoration:none;
  text-align: center;
  font-family: 'PoiretOne';
  font-size:26px;
}

#scoreWrapper {
  color:#FFF;
  position: absolute;
  font-family: 'PoiretOne';
  font-size:30px;
  top: 20px;
  left: 20px;
}

#scoreWrapper a {
  color:#FFF;
  text-decoration:none;
}

#parDisplay {
  font-size:20px;
}

#scoreCard {
  display: none;
  background-color: #FFF;
  position: absolute;
  font-family: sans-serif;
  top: 50px;
  width: 300px;
  left:calc(50% - 173px);
  padding:20px;
  background-image: url('../assets/paper.jpg');
}

#scoreCard table {
  width:100%;
  border-collapse: collapse;
  text-align:left;
}

#x {
  color:#000;
  font-size:40px;
  text-decoration:none;
}

th, td {
  font-size: 13px;
  padding: 3px;
  border: 2px solid #000;
  font-weight: bold;
}

th {
  font-weight: bolder;
}

.icons {
  display:flex;
}

.icon {
  z-index:9999;
  height: 28px;
  width: 28px;
  border-radius: 52px;
  margin-top:16px;
  margin-right:10px;
  border: 2px solid #333;
  display:block;
  color:#333;
  text-decoration:none;
  text-align: center;
  font-size:24px; /*28px*/
  font-family: monospace;
}

#clear {
  margin-left:180px;
  margin-right:0px;
}